# 파이썬으로 데이터 정제하기

In [ ]:
import pandas
# 판다스 라이브러리를 불러온다

In [ ]:
dataframe = pandas.read_excel('실습_정제_파이썬.xlsx')
# 판다스 라이브러리의 read_excel 함수를 사용해서 '실습_정제_파이썬.xlsx' 파일을 가져온다
# read_excel 함수가 반환하는 DataFrame 객체를 변수 dataframe에 할당

In [ ]:
dataframe.head()

   시도명    신분 후원회명  소속정당  ...   직업           전화번호                 기부일자    기부금액(원)
0   강원  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-02 00:00:00  5000000.0
1  NaN   NaN  NaN   NaN  ...  NaN            NaN                  NaN        NaN
2  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-01 00:00:00  5000000.0
3  NaN   NaN  NaN   NaN  ...  NaN            NaN                  NaN        NaN
4  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-03-31 00:00:00  5000000.0

[5 rows x 12 columns]

In [ ]:
dataframe1 = dataframe.loc[::2]  # dataframe의 홀수행만 선택해 dataframe1에 할당
dataframe1.head(3)

   시도명    신분 후원회명  소속정당  ...   직업           전화번호                 기부일자    기부금액(원)
0   강원  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-02 00:00:00  5000000.0
2  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-01 00:00:00  5000000.0
4  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-03-31 00:00:00  5000000.0

[3 rows x 12 columns]

In [ ]:
dataframe2 = dataframe.loc[1::2]  # dataframe의 짝수행만 선택해 dataframe1에 할당
dataframe2.head(3)

   시도명   신분 후원회명 소속정당  ...   직업 전화번호 기부일자 기부금액(원)
1  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN     NaN
3  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN     NaN
5  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN     NaN

[3 rows x 12 columns]

In [ ]:
dataframe1 = dataframe1.reset_index()  
# dataframe1의 행 이름을 0부터 1씩 커지는 정수로 초기화
dataframe1 = dataframe1.rename({'생년월일/주소':'생년월일'}, axis=1)
# dataframe1의 열 이름을 변경(axis=1)
# 특히 '생년월일/주소' 열 이름을 '생년월일'로 변경
# 변경한 결과를 다시 dataframe1에 할당

dataframe2 = dataframe2.reset_index()
dataframe2 = dataframe2.rename({'생년월일/주소':'주소'}, axis=1)

In [ ]:
dataframe3 = pandas.concat([dataframe1, dataframe2], axis=1)
# concat 함수를 써서 dataframe1과 dataframe2를 합침
# 합칠 데이터프레임 목록은 리스트(list)로 전달
# 데이터를 아래로 쌓지 않고, 오른쪽 열 방향으로 합침(axis=1)
dataframe3.head(3)

   index  시도명    신분 후원회명  ...   직업 전화번호 기부일자 기부금액(원)
0      0   강원  국회의원  권성동  ...  NaN  NaN  NaN     NaN
1      2  NaN  국회의원  권성동  ...  NaN  NaN  NaN     NaN
2      4  NaN  국회의원  권성동  ...  NaN  NaN  NaN     NaN

[3 rows x 26 columns]

In [ ]:
dataframe3 = dataframe3.dropna(axis=1, how='all')
# dropna는 결측값(NaN)이 있는 데이터프레임의 행이나 열을 삭제하는 메소드
# axis=1 로 쓰면 열을 삭제
# how='all' 로 쓰면 모든 값이 결측값인 행/열만 삭제
dataframe3.head(3)

  index  시도명  ... index                                                 주소
0     0   강원  ...     1                         강원도 강릉시 구정면 **************
1     2  NaN  ...     3         서울특별시 강남구 언주******************************
2     4  NaN  ...     5  경기도 용인시 수지구 **********************************...

[3 rows x 15 columns]

In [ ]:
dataframe3['시도명'] = dataframe3['시도명'].fillna(method='ffill')
# 열을 하나만 선택하고 fillna 메소드를 써서 결측값을 채움
# method='ffill'로 쓰면, 결측값에 바로 위에 있던 값을 입력
dataframe3.head(3)

  index 시도명  ... index                                                 주소
0     0  강원  ...     1                         강원도 강릉시 구정면 **************
1     2  강원  ...     3         서울특별시 강남구 언주******************************
2     4  강원  ...     5  경기도 용인시 수지구 **********************************...

[3 rows x 15 columns]

In [ ]:
dataframe3.to_excel('정제완료.xlsx')  # dataframe3을 엑셀파일로 저장

# DataFrame.loc 연습

In [ ]:
dataframe.loc[0:5]  # index가 0인 행부터 5인 행까지 6행을 선택

   시도명    신분 후원회명  소속정당  ...   직업           전화번호                 기부일자    기부금액(원)
0   강원  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-02 00:00:00  5000000.0
1  NaN   NaN  NaN   NaN  ...  NaN            NaN                  NaN        NaN
2  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-01 00:00:00  5000000.0
3  NaN   NaN  NaN   NaN  ...  NaN            NaN                  NaN        NaN
4  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-03-31 00:00:00  5000000.0
5  NaN   NaN  NaN   NaN  ...  NaN            NaN                  NaN        NaN

[6 rows x 12 columns]

In [ ]:
dataframe.loc[0:5:2]  # index가 0인 행부터 5인 행까지를 두 줄 간격으로 선택

   시도명    신분 후원회명  소속정당  ...   직업           전화번호                 기부일자    기부금액(원)
0   강원  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-02 00:00:00  5000000.0
2  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-04-01 00:00:00  5000000.0
4  NaN  국회의원  권성동  국민의힘  ...  회사원  010**********  2020-03-31 00:00:00  5000000.0

[3 rows x 12 columns]